/* hero */

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/fondo.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
  
    .container {
      margin-top: 130px;
    }
  
    h1 {
      color: #0028ac;
      font-weight: 600;
    }
  
    p {
      font-size: 18px;
      font-weight: 700;
      max-width: 1450px;
    }
  }
  
  /* Botón */
  
  #botoncv {
    display: inline-block;
    border: 2px solid rgb(0, 77, 192);
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
  }
  
  /* Intro */
  
  .intro {
    margin-bottom: 60px;
  
    .hr-linea {
      width: 60px;
      height: 4px;
      background-color: #0049d1;
      display: inline-block;
    }
  
    h1 {
      font-weight: 900;
      text-transform: uppercase;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }